:root {
    --primary: #619b8d;
    --secondary: #b9f1c4;
    --light: rgb(204, 211, 209);
    --dark: #000000;
    --diabled: hwb(0 100% 0%);
}

.header {
    margin: 20%;
}
.date {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dateRight {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: xx-large;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText  {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: xx-large;
}


* {
    margin: 0;
    padding: 0;
}

/* Estilos Header */
.title{
    text-align: center;
    font-size: xx-large;
    margin-top: 15%;
}

/* Estilos del los filtros */
.filterSection{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50%;
    margin-top: 20%;
}

.btnFilter{
    padding: 15px;
    cursor: pointer;
    border: none;
    background-color: var(--primary);
    color: var(--diabled);
    border-radius: 10px;
}

/* Estilos de la lista de tareas */
.contTaks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px !important;
}

.contTask{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px !important;
}

.btnDelete{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary);
    font-weight: 700;
    cursor: pointer;
}

/* Estilos del formulario para agregar tareas */
.formAdd{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 30px auto auto;
    background-color: var(--light);
    width: max-content;
    padding: 20px;
    border-radius: 20px;
}

.titleTask{
    padding: 10px;
    font-size: large;
    outline: none;
    border-radius: 10px;
    border: none;
}

.dateTask{
    padding: 10px;
    font-size: large;
    outline: none;
    border-radius: 10px;
    border: none;
    width: 90%;
}

.btnAddTask{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary);
    font-weight: 700;
    cursor: pointer;
    color: var(--diabled);
}